$primary-color: #2780ff;;
$body-color:#fff;

// Fonts
$primary-font: "Inter",sans-serif;


// Screen Width
$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1366px;
$screen-xxxl: 1600px;